<div class="item">
    <p>
        <a class="title" href="{{item.url}}">{{item.title}}</a>
        <span class="domain">({{item.domain}})</span>
    </p>
    <div class="subtext">
        {{item.points}} points by
        <a *ngIf="item.user" [routerLink]="['/user', item.user]">{{item.user}}</a>
        {{ item.time_ago }}
        <span> |
            <a [routerLink]="['/item', item.id]">
                <span *ngIf="item.comments_count !== 0">
                    {{item.comments_count}}
                    <span *ngIf="item.comments_count === 1">comment</span>
                    <span *ngIf="item.comments_count > 1">comments</span>
                </span>
                <span *ngIf="item.comments_count === 0">discuss</span>
            </a>
        </span>
    </div>
</div>
